.Hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
  max-width: 1600px;
  padding: 0 7.5%;
  padding-top: 15rem;
  margin: 0 auto;
  padding-bottom: 15rem;
  background-color: #f4f6f8;

  @media screen and (max-width: 900px) {
    max-width: 728px;
    flex-direction: column;
    padding-top: 25rem;
    padding-bottom: 5rem;
  }

  .info {
    padding-top: 5rem;
    padding-bottom: 4rem;
    z-index: inherit;
    width: 48%;
    .label {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: -1rem;
    }
    .comp_logo {
      object-fit: cover;
      margin-right: 20px;
      width: 20%;
      height: auto;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
      padding: 0;
      margin-top: -9rem;
    }
    h1 {
      height: auto;
      font-size: 39px;
      line-height: 55px;
      margin: 0;
      font-weight: bolder;
      color: var(--color-secondary);

      @media screen and (max-width: 1360px) {
        font-size: 35px;
        line-height: 50px;
      }

      @media screen and (max-width: 900px) {
        margin: 0 auto;
      }
    }

    p {
      width: 80%;
      // font-weight: 600;
      margin-top: 30px;
      font-size: 1.7rem;

      @media screen and (max-width: 900px) {
        margin-top: 15px;
        font-size: 16px;
        width: 100%;
      }
    }

    .info_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin-top: 4rem;

      @media screen and (max-width: 900px) {
        width: 100%;
      }

      button {
        width: 250px;
        font-weight: bold;
        font-size: 1.5rem;
        height: 5rem;

        @media screen and (max-width: 900px) {
          margin: 2rem 0;
          width: 90%;
        }
      }
    }
  }

  .image_container {
    position: relative;
    width: 45%;

    @media screen and (max-width: 900px) {
      margin-top: 3rem;
      width: 90%;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    margin-bottom: -5rem;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: 900px) {
      margin-bottom: unset;
    }
  }
}
