body,
html {
  margin: 0 auto;
  padding: 0;
  border: 0;
  width: 100%;
  max-width: 3600px;
}
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    width:100%;
    background-image: url(adobe.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.nav{
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 80%;
     margin: 0 auto;
    margin-bottom: 7rem;
}
.nav .nav-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}
.nav .nav-logo img{
    width:7rem;
}
.nav  button{
    margin-top: 2rem;
    border: 2px solid  #007FC5;
   color:#007FC5;
    padding: .5rem 2rem; 
    border-radius: 8px;
    transition: all 0.5s;
    background-color: transparent;
}
.nav button:hover{
    background-color: #007FC5;
    color:white;
}
/*hero styles*/
.hero{
    width:80%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero h1{
    font-size: 2.8rem;
    color: #245394;

}
.hero h2{
    font-size: 1,5rem;
    color:rgb(76, 98, 110);
    width:80%;
    margin: 0 auto;
    font-weight: 300;
    line-height: 60px;
}
.best{
    color:rgb(76, 98, 110);
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
}
.hero button{
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem 3rem;
   border-radius: 10px;
   border:none;
   margin-bottom: 13.5rem;
   background-color: #245394;
   color: white;
   font-size: 1rem;
   font-weight: 500;
}

.main{
    width: 100%;
    margin: 0 auto;
}
/*section-1 styles*/
.section-1{
    width: 80%;
    margin: 0 auto;
    margin-top: 7rem;
    
}
.section-1 h2{
    text-align: right;
    text-transform: uppercase;
    color: #245394;
}
.section-1 h3{
    text-align: center;
    color: #007FC5;
    width: 80%;
    margin: 0 auto;
}
.section-1 p{
    text-align: center;
    color: rgb(76, 98, 110);
    width: 68%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 100rem;
}