.contact_section {
  .logo_container {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 5rem;
    }
  }
  h1 {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;

    @media screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }
  form {
    width: 95%;
    margin: 0 auto;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-bottom: 0;
      }
    }
    input,
    select,
    textarea {
      width: 48%;
      border: 1px solid #ccc;
      background: #fff;
      padding: 10px;
      height: 5rem;
      font-size: 1.5rem;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      overflow: hidden;

      @media screen and (max-width: 600px) {
        font-size: 14px;
        width: 100%;
        margin-bottom: 3rem;
      }

      &:focus {
        outline: 1px solid var(--color-primary);
      }
    }

    textarea {
      width: 100%;
    }

    button {
      width: 100%;
      height: 5rem;
      font-size: 1.5rem;
      margin-top: 3rem;
    }

    .alert-success {
      border: 1px solid rgba(36, 241, 6, 0.46);
      background-color: rgba(7, 149, 66, 0.12156862745098039);
      box-shadow: 0px 0px 2px #259c08;
      color: green;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      margin-top: 1rem;
    }
  }
}
