nav {
  margin: 0 auto;
  .nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1600px;
    margin: auto;
    padding: 15px 0;

    .nav_logo {
      font-size: 1.8rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1d222c;
      letter-spacing: 1px;

      img {
        margin-right: 10px;
        margin-top: -2px;
        height: 40px;
      }
    }

    .hamburger {
      display: none;
    }

    .nav_item_links {
      margin-left: 40px;
    }

    .nav_item {
      display: inline-block;
      margin-right: 25px;

      a {
        color: black;
        position: relative;
        font-size: 15px;

        .circle {
          display: none;
        }
      }
    }

    .auth {
      display: inline-block;
      margin-left: 15px;

      .btn {
        height: 40px;
        letter-spacing: 0.05rem;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 690px) and (max-width: 865px) {
  .nav {
    .nav_content {
      width: 90%;
      .hamburger {
        display: block;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .nav {
    padding: 1rem 0;

    .nav_content {
      .nav_logo {
        img {
          margin-top: 5px;
        }
      }
      width: 90%;
      padding: 5px 0;

      .hamburger {
        display: block;
      }

      .signup_btn {
        display: none;
      }
      .login_btn {
        width: 100px;
        height: 30px !important;
        font-size: 1.5rem;
      }
    }
  }
}
